body{
  background-color: rgba(246, 242, 237, 0.723);
}

.app{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}


.form{
align-items: center;
display: flex;
width: 100%;
margin-top: 20px;
gap:10px;
flex-direction: column;
padding: 2px;
}

input{
  width: 800px;
  height: 40px;
  padding: 5px;
  font-size: large;
  border-radius: 5px;
  border: 0px;
  box-shadow: 2px 2px 2px rgb(176, 167, 167);
}

.btn{
  width: 800px;
  height: 50px;
  border-radius: 5px;
  background-color:rgb(231, 214, 193);
  font-size: large;
  box-shadow: 2px 2px 2px rgb(176, 167, 167);
  border:none

}

.btn:hover{
  background-color: rgb(246, 194, 130);
}

.listaLibri{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  list-style-type: none;
  font-size: large;
}
.listaLibri ul{
  list-style-type: none;
  padding: 0;
  
}
.listaLibri li{
  display: flex;
  margin: 10px;
  padding: 2px;
  background-color: antiquewhite;
  height: 60px;
  width: 800px;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  justify-content: center;
}